.picture {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.image {
  flex: 0 1 calc(25% - 10px); /* Four columns with a little spacing */
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

